pandas
numpy
scikit-learn==1.3.0
matplotlib
seaborn
jupyter

dvc
mlflow

fastapi
uvicorn

streamlit

python-dotenv
pyyaml
pydantic 
joblib 
python-multipart
gunicorn
uvloop
httptools
PyYAML
requests
xgboost==1.7.6